<!DOCTYPE html>
<html>
<head>
	<title>Student Portal</title>
	<style>
	body{
		background-color: blue;

	}
	h1{
		color:lightgreen;
		background-color:greenyellow;
		font-variant: background-color;

	}
	div{
		height: 50px;
		width: 200px;
		animation-name: sagar;
		animation-duration: 10s;
		position: relative;
		animation-iteration-count: infinite;
	}
	@keyframes sagar{
		from{background-color: red;left: 0%;top: 0%;}
		50%{background-color: greenyellow;left:75%;top:25% }
		to{background-color: purple;left: 45%;top: 35%}
	}
	</style>
</head>
<body>
	<div>
	<h1>welcome to pentagon space</h1>
	</div>

</body>
</html>